@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, "sans-serif";
}

.header {
    flex: 1;
    background-color: #1F2937;
    padding: 8px;
    margin: 0;
    padding: 0 100px;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.sub-header1 {
    padding: 48px 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sub-header2 {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

img {
    border: 2px solid black;
    /* width: 100%;
    height: auto; */
}

.button {
    display: flex;
    color: white;
    font-size: 18px;
    background-color: #3882F6;
    border-radius: 8px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.Hero-Main {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.info-header {
    display: flex;
    font-size: 32px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    align-items: center;
}

.tile-container {
    padding: 16px 0 24px;
}

.tile-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 16px;
}

.tile {
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;;
    border-radius: 24px;
    margin: auto;
}

.tile-subtext {
    text-align: center;
    margin: 8px 0;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 32px;
    font-style: italic;
    padding: 30px 100px 0;
}

.quoter {
    color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    padding: 0 125px 50px;
    text-align: end;
}

.calltoact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 16px;
}

.calltoact-subcontainer1 {
    display: flex;
    width: 500px;
    height: 50px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 16px;
    border-radius: 8px;


}